<div class="teaser teaser-highlight teaser-prominent molecule-featured">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg 810w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <figure class="desktop" data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg" content="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg" alt="" srcset="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-mobile.jpg 810w, ..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaserhero-desktop.jpg 1176w">

        </a>
        <div class="video-icon section-theme-border section-theme"></div>
        </div>
    </figure>
    <div class="inner section-theme-border">
        <a class="headline" href="#">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
</a>
        <a class="description" href="#">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</a>
    </div>
</div>