<main class="mod-pancakes">
	<div class="pancake use-image-placeholders solo wide primary">
		<div class="teaser teaser-highlight teaser-prominent">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-left1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-left1.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-left1.jpg 540w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner section-theme-border">
        <a class="label" href="#">World Cup 2018</a>
        <a class="headline" href="#">
    The astonishing XI of SNUBBED stars not competing for their countries in the 2018 World Cup
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">2</span>
    </a>
</div>
        <a class="description" href="#">There will be some huge names not going to Russia this summer - and a most will shock you</a>
    </div>
</div>
	</div>
    <div class="pancake use-image-placeholders duet primary">
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    England boss Southgate WON&#39;T be sacked no matter what happens in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Chief exec Martin Glenn confirms the manager is part of a long-term plan so is bomb-proof regardless of results in Russia</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Dele Alli</a>
        <a class="headline" href="#">
    Dele Alli: England are stronger after Iceland meltdown at Euro 2016
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">&lt;It was important we went through it so it doesn’t happen again&gt; says Spurs star of THAT last-16 humiliation by tiny Iceland</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Neymar</a>
        <a class="headline" href="#">
    Brazil doctor gives Neymar injury update as PSG star races to be fit for World Cup
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">The 26-year-old underwent surgery after breaking his metatarsal vs Marseille</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    Pickford edging ahead in four-way battle to be England World Cup No.1
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Gareth Southgate leaning towards the 24-year-old for Dutch game, PLUS: Harry Maguire hails squad&#39;s lower-leagues graduates</a>
    </div>
</div>
    </div>
</main>