<main class="mod-pancakes">
	<div class="pancake use-image-placeholders solo wide primary">
		{{> molecules-heading }}
	</div>
    <div class="pancake use-image-placeholders duet primary">
        {{# teaserMidList}}
            {{> molecules-large-tile }}
        {{/ teaserMidList}}
    </div>
</main>