<main class="mod-pancakes">
	<div class="pancake use-image-placeholders ensemble channel-sport">
        <h3 class="publication-font">
            <a class="section-theme-indicator" href="">Latest News</a>
        </h3>
        <div class="teaser teaser-highlight">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;large-tile.jpg">
        </a>
    </figure>
    <div class="inner section-theme-border">
        <a class="label section-theme-highlight" href="#">
    UEFA Champions League Final
</a>
        <a class="headline publication-font" href="#">
    Real Madrid 0-0 Liverpool LIVE score and goal updates from Champions League final in Kiev
</a>
        <a class="description" href="">
	Klopp&#39;s men take on the Spanish giants and current holders at the Olympic Stadium
</a>
    </div>
</div>
        <div class="pancake duet secondary">
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image1.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">UEFA Champions League Final</a>
        <a class="headline" href="#">
    Real Madrid 0-0 Liverpool LIVE score and goal updates from Champions League final in Kiev
</a>
<a class="description" href="#">Klopp&#39;s men take on the Spanish giants and current holders at the Olympic Stadium</a>    </div>
</div>
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image2.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Liverpool FC</a>
        <a class="headline" href="#">
    What are the Allez, Allez, Allez lyrics? Liverpool&#39;s Champions League chant explained
</a>
<a class="description" href="#">The song has gone viral in recent months as Jurgen Klopp&#39;s side look to win their sixth European trophy</a>    </div>
</div>
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image3.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">UEFA Champions League Final</a>
        <a class="headline" href="#">
    Watch Champions League final for FREE as Liverpool and Real Madrid do battle in Kiev for trophy
</a>
<a class="description" href="#">Real Madrid are bidding for their third title in succession but come up against a free-scoring Liverpool side</a>    </div>
</div>
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image4.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Champions League</a>
        <a class="headline" href="#">
    What channel is Champions League Final 2018? Real Madrid vs Liverpool live stream details, TV information and odds
</a>
<a class="description" href="#">Everything you need to know about the Champions League final as it reaches the business end of the competition</a>    </div>
</div>
        </div>
    </div>
</main>