<main class="mod-pancakes">
	<div class="pancake use-image-placeholders duet social secondary">
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    World Cup AWAY kit power rankings: Rating the best change strips we&#39;ll see in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">We look at the change strips that teams will be sporting over in Russia this summer, and do what comes naturally. Let&#39;s get ranking...</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    World Cup 2018 FREE sweepstake: Download your kit here as England bid for glory in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Major sporting events are always better when bragging rights over family and friends - or money - are at stake</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    5 players who prove ‘World Cup signings’ can work - and 5 who weren&#39;t quite so successful
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Transfers are common off the back of the summer tournament - but clubs don&#39;t always get it right</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Ronaldo</a>
        <a class="headline" href="#">
    Ronaldo names the five teams who could win World Cup - and big problem Brazil have
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">3</span>
    </a>
</div>
        <a class="description" href="#">The two-time World Cup winner failed to mention his own nation in the running - and that&#39;s because of doubts over Neymar</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    Here are the days you need to book off work to watch EVERY England game
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">The World Cup draw has been made in Russia, so it&#39;s time to get in early and book those all important dates off work</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Fifa World Cup</a>
        <a class="headline" href="#">
    Guide to England’s opponents: Star man, head-to-head record, odds and how they reached Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Gareth Southgate&#39;s side will take on Belgium, Panama and Tunisia as they look to progress to the knockout stages</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    England&#39;s potential route to the World Cup final as Germany and Argentina lie in wait
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">2</span>
    </a>
</div>
        <a class="description" href="#">England start their campaign against Belgium, Tunisia and Panama</a>
    </div>
</div>
    </div>
</main>