<main class="mod-pancakes">
	<div class="pancake use-image-placeholders duet social secondary">
        {{# teaserSocialList}}
            {{> molecules-small-teaser }}
        {{/ teaserSocialList}}
    </div>
</main>