<figure class="figure--overlay">
  {{> base-landscape-image}}
  <p class="figure__credit">
    &copy; 2015 This is a photo credit.
  </p>
  <figcaption>
    This is figure caption
  </figcaption>
</figure>
