<div class="teaser teaser-highlight teaser-prominent">
    <figure data-mod="image">
        <a href="">
            {{> atoms-heading-image }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner section-theme-border">
        {{> atoms-teaser-label }}
        {{> atoms-teaser-headline }}
        {{> atoms-teaser-comment }}
        {{> atoms-teaser-description }}
    </div>
</div>