<div class="teaser">
    <figure data-mod="image">
        <a href="">
            {{> atoms-teaser-image }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner">
        {{> atoms-teaser-label }}
        {{> atoms-teaser-headline }}
        {{> atoms-teaser-comments }}
        {{> atoms-teaser-description }}
    </div>
</div>