<div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaser-image.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaser-image.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;design&#x2F;teaser-image.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Lorem ipsum dolor sit amet</a>
        <a class="headline" href="#">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</a>
<a class="description" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>    </div>
</div>