<main class="mod-pancakes">
	<div class="pancake use-image-placeholders ensemble channel-sport">
        <h3 class="publication-font">
            <a class="section-theme-indicator" href="">Latest News</a>
        </h3>
        {{> molecules-card }}
        <div class="pancake duet secondary">
            {{# teaserMainList}}
                {{> molecules-teaser }}
            {{/ teaserMainList}}
        </div>
    </div>
</main>