<main class="mod-pancakes">
	<div class="pancake use-image-placeholders quartet">
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    WORLD CUP POWER RANKINGS: All 32 teams rated and slated as countdown to Russia continues
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">0</span>
    </a>
</div>
        <a class="description" href="#">This summer&#39;s World Cup inches closer and closer - so who are the most likely winners?</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    FIXTURES: Every game, kick-off time and venue
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">ThisWhen and where will the games take place at next summer&#39;s World Cup in Russia? Find out here....</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    TV GUIDE: Where you can watch every match
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">ITV will show the Three Lions against Belgium in Russia next summer - the full TV fixture schedule is here</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    GROUP GUIDE: Definitive profile for every team
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Who&#39;s in the &#39;group of death&#39;? Who&#39;s standing in England&#39;s way of progressing to the knockout stages? Find out here...</a>
    </div>
</div>
    </div>
</main>