<footer class="c-footer" role="contentinfo">

	<div class="l">
		<p class="c-footer__info">This is a demonstration of what's possible with <a href="http://patternlab.io" rel="external">Pattern Lab</a>. <a href="http://patternlab.io/download.html">Download Pattern Lab</a>, check out the <a href="http://patternlab.io/docs/">documentation</a>, or learn more about <a href="http://atomicdesign.bradfrost.com/">atomic design</a>.</p>
		<p class="copyright">&copy;  . All rights reserved.</p>
	</div><!-- end l -->

</footer><!-- end c-footer -->
