<div class="teaser teaser-highlight teaser-prominent">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;design&#x2F;large-card.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;design&#x2F;large-card.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;design&#x2F;large-card.jpg 810w">
        </a>
    </figure>
    <div class="inner section-theme-border">
        <a class="label section-theme-highlight" href="">
    Lorem ipsum dolor sit amet
</a>
        <a class="headline publication-font" href="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</a>
    </div>
</div>