<header id="main_menu" class="mod-header header navbar-fixed-top">
    <div class="main_menu_bg">
        <a id="logo" href="/">mirror</a>
        <div class="icon" id="hamburger" href="/">
        	Load mobile navigation
		    <span></span>
		</div>
        <nav class="primary">
		    <ul data-level="1">
		        <li class="has-children">
		            <a href="">News</a>
		            <ul data-level="2" class="" style="left: -81px;">
		                <li>
		                    <a href="">
		                        UK News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        US News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        World News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Weird News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Crime
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Real Life Stories
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Science
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Health
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Motoring
		                    </a>
		                </li>
		            </ul>
		            <a class="icon toggle">Expand</a>
		        </li>
		        <li>
		            <a href="">Politics</a>
		        </li>
		        <li class="has-children">
		            <a href="">Sport</a>
		            <ul data-level="2" class="" style="left: -81px;">
		                <li>
		                    <a href="">
		                        World Cup 2018
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Boxing
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        WWE
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        F1
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Cricket
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Golf
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Tennis
		                    </a>
		                </li>
		                <li class="has-child-group">
		                    <a href="">
		                        Other Sports
		                    </a>
		                    <ul data-level="3">
		                        <li>
		                            <a href="">
		                                Rugby Union
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                Rugby League
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                UFC
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                Athletics
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                Darts
		                            </a>
		                        </li>
		                    </ul>
		                    <a class="icon toggle">Expand</a>
		                </li>
		            </ul>
		            <a class="icon toggle">Expand</a>
		        </li>
		        <li>
		            <a href="">Football</a>
		        </li>
		        <li>
		            <a href="">Celebs</a>
		        </li>
		    </ul>
		</nav>
        <div id="signin">
		    <span class="label show">
		        <span class="">
		            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
		        </span>
		    </span>
		    <span class="bubble-wrapper">
		        <span class="name">
		            
		        </span>
		        <ul class="bubble">
		            <li> 
		                <a id="sso-my-account" href="">
		                    My Account
		                </a>
		            </li>
		            <li class="hidden sso-subscriptions">
		                <a id="sso-subscriptions" href="#">
		                    Subscriptions
		                </a>
		            </li>
		            <li> 
		                <a id="sso-logout" href="#">
		                    Sign Out
		                </a>
		            </li>
		        </ul>
		    </span>
		</div>

        <div class="search">
		    <button class="icon icon-search" id="search-icon" type="button">
		        
		    </button>
		</div>
		<div class="search-box hidden">
		    <gcse:searchbox-only resultsurl=""></gcse:searchbox-only>
		</div>
		
        <div class="social-sites">
		    <ul>
		        
		        <li>
		            <a class="icon facebook" href="">
		            </a>
		        </li>

		        
		        <li>
		            <a class="icon twitter" href="">
		            </a>
		        </li>

		        
		        <li>
		            <a class="icon pinterest" href="">
		            </a>
		        </li>

		        
		        <li>
		            <a class="icon instagram" href="">
		            </a>
		        </li>

		    </ul>
		</div>
    </div>
</header> <!--End of header -->

<!-- Header left menu bar -->
<div id="header-dropdown" class="active">
    <nav class="primary">
        <section>
        	<ul data-level="1">
		        <li class="has-children">
		            <a href="">News</a>
		            <ul data-level="2" class="">
		                <li>
		                    <a href="">
		                        UK News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        US News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        World News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Weird News
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Crime
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Real Life Stories
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Science
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Health
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Motoring
		                    </a>
		                </li>
		            </ul>
		            <a class="icon toggle">Expand</a>
		        </li>
		        <li>
		            <a href="">Politics</a>
		        </li>
		        <li class="has-children">
		            <a href="">Sport</a>
		            <ul data-level="2" class="">
		                <li>
		                    <a href="">
		                        World Cup 2018
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Boxing
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        WWE
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        F1
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Cricket
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Golf
		                    </a>
		                </li>
		                <li>
		                    <a href="">
		                        Tennis
		                    </a>
		                </li>
		                <li class="has-child-group">
		                    <a href="">
		                        Other Sports
		                    </a>
		                    <ul data-level="3">
		                        <li>
		                            <a href="">
		                                Rugby Union
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                Rugby League
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                UFC
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                Athletics
		                            </a>
		                        </li>
		                        <li>
		                            <a href="">
		                                Darts
		                            </a>
		                        </li>
		                    </ul>
		                    <a class="icon toggle">Expand</a>
		                </li>
		            </ul>
		            <a class="icon toggle">Expand</a>
		        </li>
		        <li>
		            <a href="">Football</a>
		        </li>
		        <li>
		            <a href="">Celebs</a>
		        </li>
		    </ul>
        </section>
    </nav>
    <nav class="footer">
        <section>
            <ul data-level="1">
                <li>
                    <a href="">BuySell</a>
                </li>
                <li>
                    <a href="">Find a job</a>
                </li>
                <li>
                    <a href="">InYourArea</a>
                </li>
                <li>
                    <a href="">Discount Codes</a>
                </li>
                <li>
                    <a href="">Mirror Collections</a>
                </li>
                <li>
                    <a href="">Psychic</a>
                </li>
                <li>
                    <a href="">Find a local business</a>
                </li>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
                <li>
                    <a href="">Follow Us</a>
                </li>
                <li>
                    <a href="">Sell Your Story</a>
                </li>
                <li>
                    <a href="">How to Complain</a>
                </li>
                <li>
                    <a href="">Corrections &amp;amp; Clarifications</a>
                </li>
                <li>
                    <a href="">Google Survey</a>
                </li>
                <li>
                    <a href="">Privacy Statement</a>
                </li>
                <li>
                    <a href="">Cookie Policy</a>
                </li>
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
                <li>
                    <a href="">Subscribe to Daily and Sunday Mirror newspapers</a>
                </li>
                <li>
                    <a href="">Irish Mirror</a>
                </li>
                <li>
                    <a href="">© 2018 MGN Limited</a>
                </li>
            </ul>
        </section>
    </nav>
</div>
<!-- End of header left menu bar -->