<main class="mod-pancakes">
    <div class="topic-head channel-topic">
        <h1>FIFA World Cup 2018</h1>
    </div>
    <div class="pancake use-image-placeholders solo">
        <div class="teaser teaser-highlight teaser-prominent molecule-featured">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg 810w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <figure class="desktop" data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg" content="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg" alt="" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-mobile.jpg 810w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaserhero-desktop.jpg 1176w">

        </a>
        <div class="video-icon section-theme-border section-theme"></div>
        </div>
    </figure>
    <div class="inner section-theme-border">
        <a class="headline" href="#">
    Every winner of the World Cup&#39;s Best Young Player award and what they went on to achieve
</a>
        <a class="description" href="#">
    The glamorous FIFA prize has been given to a catalogue of future legends
</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders quartet">
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb1.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    WORLD CUP POWER RANKINGS: All 32 teams rated and slated as countdown to Russia continues
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">0</span>
    </a>
</div>
        <a class="description" href="#">This summer&#39;s World Cup inches closer and closer - so who are the most likely winners?</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb2.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    FIXTURES: Every game, kick-off time and venue
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">ThisWhen and where will the games take place at next summer&#39;s World Cup in Russia? Find out here....</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb3.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    TV GUIDE: Where you can watch every match
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">ITV will show the Three Lions against Belgium in Russia next summer - the full TV fixture schedule is here</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-thumb4.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    GROUP GUIDE: Definitive profile for every team
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Who&#39;s in the &#39;group of death&#39;? Who&#39;s standing in England&#39;s way of progressing to the knockout stages? Find out here...</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders solo wide primary">
        <div class="teaser teaser-highlight teaser-prominent">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-left1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-left1.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-left1.jpg 540w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner section-theme-border">
        <a class="label" href="#">World Cup 2018</a>
        <a class="headline" href="#">
    The astonishing XI of SNUBBED stars not competing for their countries in the 2018 World Cup
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">2</span>
    </a>
</div>
        <a class="description" href="#">There will be some huge names not going to Russia this summer - and a most will shock you</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders duet primary">
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    England boss Southgate WON&#39;T be sacked no matter what happens in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Chief exec Martin Glenn confirms the manager is part of a long-term plan so is bomb-proof regardless of results in Russia</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Dele Alli</a>
        <a class="headline" href="#">
    Dele Alli: England are stronger after Iceland meltdown at Euro 2016
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">&lt;It was important we went through it so it doesn’t happen again&gt; says Spurs star of THAT last-16 humiliation by tiny Iceland</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Neymar</a>
        <a class="headline" href="#">
    Brazil doctor gives Neymar injury update as PSG star races to be fit for World Cup
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">The 26-year-old underwent surgery after breaking his metatarsal vs Marseille</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    Pickford edging ahead in four-way battle to be England World Cup No.1
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Gareth Southgate leaning towards the 24-year-old for Dutch game, PLUS: Harry Maguire hails squad&#39;s lower-leagues graduates</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders duet social secondary">
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social1.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    World Cup AWAY kit power rankings: Rating the best change strips we&#39;ll see in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">We look at the change strips that teams will be sporting over in Russia this summer, and do what comes naturally. Let&#39;s get ranking...</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social2.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    World Cup 2018 FREE sweepstake: Download your kit here as England bid for glory in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Major sporting events are always better when bragging rights over family and friends - or money - are at stake</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social3.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    5 players who prove ‘World Cup signings’ can work - and 5 who weren&#39;t quite so successful
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Transfers are common off the back of the summer tournament - but clubs don&#39;t always get it right</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social4.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Ronaldo</a>
        <a class="headline" href="#">
    Ronaldo names the five teams who could win World Cup - and big problem Brazil have
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">3</span>
    </a>
</div>
        <a class="description" href="#">The two-time World Cup winner failed to mention his own nation in the running - and that&#39;s because of doubts over Neymar</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social5.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">FIFA World Cup</a>
        <a class="headline" href="#">
    Here are the days you need to book off work to watch EVERY England game
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">The World Cup draw has been made in Russia, so it&#39;s time to get in early and book those all important dates off work</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social6.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Fifa World Cup</a>
        <a class="headline" href="#">
    Guide to England’s opponents: Star man, head-to-head record, odds and how they reached Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Gareth Southgate&#39;s side will take on Belgium, Panama and Tunisia as they look to progress to the knockout stages</a>
    </div>
</div>
            <div class="teaser social">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg 390w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-social7.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    England&#39;s potential route to the World Cup final as Germany and Argentina lie in wait
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">2</span>
    </a>
</div>
        <a class="description" href="#">England start their campaign against Belgium, Tunisia and Panama</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders solo featured maximum channel-news">
        <div class="teaser teaser-highlight teaser-prominent">
    <div class="featured-image mod-backgroundImage" style="background-image: url(&quot;..&#x2F;..&#x2F;images&#x2F;main&#x2F;wideheading-back.jpg&quot;); background-size: 100%; background-position: 50% 50%;">
</div>
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;wideheading-back.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;wideheading-back.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;wideheading-back.jpg 650w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;wideheading-back.jpg 810w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner section-theme-border">
        <a class="label section-theme-highlight" href="#">
    Vladimir Putin
</a>
        <a class="headline publication-font" href="">
    Russia launches four bombs from beneath White Sea in &#39;most powerful submarine missile test since Cold War&#39;
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">7</span>
    </a>
</div>
        <a class="description" href="">
	It is the most powerful weapons test from a single submarine since the Cold War, and according to Russian military all four Bulava missiles reached their designated targets
</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders ensemble channel-sport">
        <h3 class="publication-font">
            <a class="section-theme-indicator" href="">Latest News</a>
        </h3>
        <div class="teaser teaser-highlight">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;large-tile.jpg">
        </a>
    </figure>
    <div class="inner section-theme-border">
        <a class="label section-theme-highlight" href="#">
    UEFA Champions League Final
</a>
        <a class="headline publication-font" href="#">
    Real Madrid 0-0 Liverpool LIVE score and goal updates from Champions League final in Kiev
</a>
        <a class="description" href="">
	Klopp&#39;s men take on the Spanish giants and current holders at the Olympic Stadium
</a>
    </div>
</div>
        <div class="pancake duet secondary">
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image1.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">UEFA Champions League Final</a>
        <a class="headline" href="#">
    Real Madrid 0-0 Liverpool LIVE score and goal updates from Champions League final in Kiev
</a>
<a class="description" href="#">Klopp&#39;s men take on the Spanish giants and current holders at the Olympic Stadium</a>    </div>
</div>
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image2.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Liverpool FC</a>
        <a class="headline" href="#">
    What are the Allez, Allez, Allez lyrics? Liverpool&#39;s Champions League chant explained
</a>
<a class="description" href="#">The song has gone viral in recent months as Jurgen Klopp&#39;s side look to win their sixth European trophy</a>    </div>
</div>
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image3.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">UEFA Champions League Final</a>
        <a class="headline" href="#">
    Watch Champions League final for FREE as Liverpool and Real Madrid do battle in Kiev for trophy
</a>
<a class="description" href="#">Real Madrid are bidding for their third title in succession but come up against a free-scoring Liverpool side</a>    </div>
</div>
                <div class="teaser">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-image4.jpg 458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Champions League</a>
        <a class="headline" href="#">
    What channel is Champions League Final 2018? Real Madrid vs Liverpool live stream details, TV information and odds
</a>
<a class="description" href="#">Everything you need to know about the Champions League final as it reaches the business end of the competition</a>    </div>
</div>
        </div>
    </div>
    <div class="pancake use-image-placeholders solo splash primary channel-travel2">
        <div class="teaser teaser-highlight teaser-prominent">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;large-card.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;large-card.jpg 508w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;large-card.jpg 810w">
        </a>
    </figure>
    <div class="inner section-theme-border">
        <a class="label section-theme-highlight" href="">
    Holiday deals
</a>
        <a class="headline publication-font" href="">
    Cheap holidays in July and August where it&#39;s hot and sunny including deals on Spain, Cyprus and Portugal
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="">
	We take a look at some of the best destinations for cheap holidays in July and August where it&#39;s also hot and sunny
</a>
    </div>
</div>
    </div>
    <div class="pancake use-image-placeholders duet primary">
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb1.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    England boss Southgate WON&#39;T be sacked no matter what happens in Russia
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">Chief exec Martin Glenn confirms the manager is part of a long-term plan so is bomb-proof regardless of results in Russia</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb2.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Dele Alli</a>
        <a class="headline" href="#">
    Dele Alli: England are stronger after Iceland meltdown at Euro 2016
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">&lt;It was important we went through it so it doesn’t happen again&gt; says Spurs star of THAT last-16 humiliation by tiny Iceland</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb3.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Neymar</a>
        <a class="headline" href="#">
    Brazil doctor gives Neymar injury update as PSG star races to be fit for World Cup
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number">1</span>
    </a>
</div>
        <a class="description" href="#">The 26-year-old underwent surgery after breaking his metatarsal vs Marseille</a>
    </div>
</div>
            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg" srcset="..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 180w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 220w, ..&#x2F;..&#x2F;images&#x2F;main&#x2F;teaser-mthumb4.jpg 270w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">England football team</a>
        <a class="headline" href="#">
    Pickford edging ahead in four-way battle to be England World Cup No.1
</a>
        <div class="comments-count" href="#">
    <a href="">
        <span class="count-number"></span>
    </a>
</div>
        <a class="description" href="#">Gareth Southgate leaning towards the 24-year-old for Dutch game, PLUS: Harry Maguire hails squad&#39;s lower-leagues graduates</a>
    </div>
</div>
    </div>
    <div class="pancake duet secondary">
        <div class="mostRead" >
            <section data-mod="mostRead">
                <div class="pancake publication-theme">
                    <div data-mod="tabs" class="channel-travel2">
                        <div class="tab-content section-theme-inherit-background-indicator active" data-mod="tabs">
                            <div class="tab-content active" data-value="mostRead">
                                <div class="pancake use-image-placeholders ensemble">
                                    <div class="teaser teaser-highlight">
    <figure data-mod="image">
        <a href="">
            <img src="..&#x2F;..&#x2F;images&#x2F;main&#x2F;number-card.jpg">
        </a>
    </figure>
    <div class="inner section-theme-border">
        <a class="label section-theme-highlight" href="">
    Passport Office
</a>
        <a class="headline publication-font" href="">
    There&#39;s a new &#39;world&#39;s most powerful passport&#39; and it&#39;s way ahead of the UK and US
</a>
        <a class="description" href="">
	The Henley Passport Index has a new country at its top spot
</a>
    </div>
</div>
                                    <div class="pancake duet secondary">
                                            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="" srcset=" 180w,  458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">All-inclusive holidays</a>
        <a class="headline" href="#">
    The best 10 all-inclusive hotels in Europe for 2018 revealed by TripAdvisor
</a>
<a class="description" href="#">Europe&#39;s best all-inclusive hotels for 2018 have been revealed in TripAdvisor&#39;s annual Travellers’ Choice awards and there are bargain breaks to be had&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;</a>    </div>
</div>
                                            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="" srcset=" 180w,  458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Liverpool FC</a>
        <a class="headline" href="#">
    What are the Allez, Allez, Allez lyrics? Liverpool&#39;s Champions League chant explained
</a>
<a class="description" href="#">The song has gone viral in recent months as Jurgen Klopp&#39;s side look to win their sixth European trophy</a>    </div>
</div>
                                            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="" srcset=" 180w,  458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">UEFA Champions League Final</a>
        <a class="headline" href="#">
    Watch Champions League final for FREE as Liverpool and Real Madrid do battle in Kiev for trophy
</a>
<a class="description" href="#">Real Madrid are bidding for their third title in succession but come up against a free-scoring Liverpool side</a>    </div>
</div>
                                            <div class="teaser">
    <figure data-mod="image">
        <a href="#">
            <img src="" srcset=" 180w,  458w">
        </a>
        <div class="video-icon section-theme-border section-theme"></div>
    </figure>
    <div class="inner">
        <a class="label" href="#">Champions League</a>
        <a class="headline" href="#">
    What channel is Champions League Final 2018? Real Madrid vs Liverpool live stream details, TV information and odds
</a>
<a class="description" href="#">Everything you need to know about the Champions League final as it reaches the business end of the competition</a>    </div>
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>