<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		
        <!--Theme custom css -->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/pattern-scaffolding.css" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }} main_body">	
		