<script src="../../js/jquery-1.11.2.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>
			
	<!--DO NOT REMOVE-->
	{{{ patternLabFoot }}}
	
	</body>
</html>